<!doctype html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>四步曲</title>
    <!-- 插件css文件 -->
    <css href="__CSS__/bootstrap.min.css"/>
    <css href="__CSS__/bootstrap-theme.min.css"/>

    <!-- 播放器 -->
    <css href="__CSS__/video-js.min.css"/>

    <!-- 时间轴 -->
    <css href="__CSS__/normalize.css"/>
    <css href="__CSS__/default.css"/>
    <css href="__CSS__/cntl.css"/>

    <css href="__CSS__/common.css"/>
    <css href="__CSS__/header.css"/>
    <css href="__CSS__/bottom.css"/>
    <css href="__CSS__/Student/show.css"/>
</head>
<body>
<!-- 导航栏 -->
<header>
    <include file="Public:header"/>
</header>

<div class="content">

<!-- 时间轴 -->
        <div class="cntl">
            <span class="cntl-bar cntl-center">
                <span class="cntl-bar-fill"></span>
            </span>

            <div class="cntl-states">

                <div class="cntl-state">
                    <div class="cntl-content">
                        <h3>个人资料</h3>
                        <p class="indents text-justify">
                            <div class="indents text-justify">韩佳平：男，2011级信息与计算科学学生</div><br/>
                            <div class="indents text-justify">理学院计算机兴趣小组（shadow）负责人</div><br/>
                            <div class="indents text-justify">实践指导教师：岑岗</div>
                        </p>
                    </div>
                    <div class="cntl-icon cntl-center">'01</div>
                </div>


                <div class="cntl-state">
                    <div class="cntl-content">
                        <h3>2012年</h3>
                        <p class="indents text-justify">主持浙江省大学生科技创新活动计划“新苗人才计划”和校春萌计划项目“学生原创视频展示与学习交流平台”
                        <div class="indents text-justify">获浙江科技学院首届“璀璨之星”称号</div>
                        </p>
                    </div>

                    <div class="cntl-image"><img src="__IMG__/1.jpg"></div>
                    <div class="cntl-icon cntl-center">'02</div>
                </div>

                <div class="cntl-state">
                    <div class="cntl-content">
                        <h3>2013年</h3>
                        <p class="indents text-justify">
                        <div class="indents text-justify">主持国家级大学生创新训练计划项目“农村网购物流一体化服务系统”</div><br/>
                        <div class="indents text-justify">
                            参加浙江省大学生“新苗人才计划”项目“基于网络的互动型自主学习平台设计”项目
                        </div><br/>
                        <div class="indents text-justify">作品“村落速达运购服务系统”获省浙江省第八届大学生电子商务竞赛本科综合类二等奖</div><br/>
                        <div class="indents text-justify">作品“运购公司农村网络购物服务系统”获第二届浙江省大学生服务外包创新应用大赛三等奖</div><br/>
                      <div class="indents text-justify">全国大学生数学建模竞赛中获省一等奖</div><br/>
                      <div class="indents text-justify">论文“The Design of University Student's Original Video Display and Learning Communication Platform” 发表在2013年计算机新技术与教育国际学术会议上（EI-C检索）</div>
                        </p>
                    </div>

                    <div class="cntl-image"><img src="__IMG__/2.jpg"></div>
                    <div class="cntl-icon cntl-center">'03</div>
                </div>

                <div class="cntl-state">
                    <div class="cntl-content">
                        <h3>2014年</h3>
                        <p>
                        <div class="indents text-justify">作品“杭州村落速达服务有限公司”获浙江省第九届“挑战杯”大学生创业计划竞赛三等奖</div><br/>
                        <div class="indents text-justify">参加国际数学建模竞赛获参赛奖</div><br/>
                        <div class="indents text-justify">论文“开放型实践教学基地的学生自主管理研究与探索” 发表在核心期刊《实验室研究与探索》2014年第4期</div><br/>
                        <div class="indents text-justify">论文“高校学生原创视频展示与学习交流平台的设计” 发表在《浙江科技学院学报》2014年第2期</div><br/>
                        <div class="indents text-justify">论文“Design of an Industrial Product Platform Based on the Witkey Mode”发表在2014年计算机新技术与教育国际学术会议上（EI-C检索）</div><br/>
                        <div class="indents text-justify">获得宝钢奖学金</div>
                        </p>
                    </div>

                    <div class="cntl-image"><img src="__IMG__/3.jpg"></div>
                    <div class="cntl-icon cntl-center">'04</div>
                </div>

            </div>
        </div>
</div>

<footer>
    <include file="Public:bottom"/>
</footer>
<!--最后引入各项JS文件-->
<js href="__JQUERY__/jquery.js"/>
<js href="__JQUERY__/bootstrap.js"/>

<!-- 播放器 -->
<js href="__JS__/video.js"/>

<!-- 时间轴 -->
<js href="__JQUERY__/jquery.cntl.js"/>

<js href="__JS__/header.js"/>
<js href="__JS__/Student/show.js"/>
</body>
</html>