*{
    padding: 0;
    margin: 0;
    font-family: "微软雅黑";
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
html{
    font-size: 14px;
}
.indents{
  text-indent: 2em;
}
.font-center{
  text-align: center;
}
li{
  list-style-type:none;
}

/*分页样式*/
.pages {
  clear: left;
  padding-top: 10px;
  margin-bottom: 10px;
  text-align: right;
}
.pages a, .pages .current {
  font-size: 1.2rem;
  color: #555;
  font-family: "微软雅黑","Microsoft Yahei";
  margin: 0 2px;
  border: 1px solid #b5b5b5;
  border-radius: 3px;
  background: #FFF;
  padding: 2px 8px;
  text-decoration: none;
}
.pages .current, .pages a:hover {
  background: #73A3D4;
  border: 1px solid #73A3D4;
  border-radius: 3px;
  color: #FFF;
}