<!doctype html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>四步曲</title>
    <!-- 插件css文件 -->
    <css href="__CSS__/bootstrap.min.css"/>
    <css href="__CSS__/bootstrap-theme.min.css"/>
    <css href="__CSS__/common.css"/>
    <css href="__CSS__/header.css"/>
    <css href="__CSS__/bottom.css"/>
    <css href="__CSS__/Index/unslider.css"/>
    <css href="__CSS__/Index/index.css"/>

</head>
<body>
<!-- 导航栏 -->
<header>
    <include file="Public:header"/>
</header>

<div class="content">
    <!-- 焦点图 -->
    <div id="banner" class="banner">
      <ul>
        <li><img src="__IMG__/Unsilder/01.jpg"></li>
        <li><img src="__IMG__/Unsilder/02.jpg"></li>
        <li><img src="__IMG__/Unsilder/03.jpg"></li>
      </ul>
      <a href="javascript:void(0);" class="unslider-arrow prev">
        <img class="arrow" id="al" src="__IMG__/Unsilder/arrowl.png" alt="prev" width="20" height="35">
      </a>
      <a href="javascript:void(0);" class="unslider-arrow next">
        <img class="arrow" id="ar" src="__IMG__/Unsilder/arrowr.png" alt="next" width="20" height="37">
      </a>
    </div>
<!--     <div class="font">
        <img src="__IMG__/Unsilder/font.png" alt="">
    </div> -->
    <!-- 焦点图结束 -->

    <div class="main">
        <div class="one">
            <div class="title">开放实验</div>
        </div>

        <div class="row">
            <div class="col-md-4">
                <div class="thumbnail">
                  
                  <img src="__IMG__/Index/kfsy1.jpg" alt="...">
                  <h4 class="font-center">岑岗老师指导学生进行设计</h4>
                </div>
            </div>

            <div class="col-md-4">
                <div class="thumbnail">
                  
                  <img src="__IMG__/Index/kfsy2.jpg" alt="...">
                  <h4 class="font-center">唐伟老师在指导学生进行项目学习</h4>
                </div>
            </div>

            <div class="col-md-4">
                <div class="thumbnail">
                  
                  <img src="__IMG__/Index/kfsy3.jpg" alt="...">
                  <h4 class="font-center">柳杨老师在指导学生进行项目制作</h4>
                </div>
            </div>

        </div>

        <div class="one">
            <div class="title">科技创新</div>
        </div>

        <div class="row">
            <div class="col-md-4">
                <div class="thumbnail">
                  <img src="__IMG__/Index/kjcx1.jpg" alt="...">
                </div>
            </div>

            <div class="col-md-4">
                <div class="thumbnail">
                  <img src="__IMG__/Index/kjcx2.jpg" alt="...">
                </div>
            </div>
            
            <div class="col-md-4">
                <div class="thumbnail">
                  <img src="__IMG__/Index/kjcx3.jpg" alt="...">
                </div>
            </div>
        </div>

        <div class="one">
            <div class="title">学科竞赛</div>
        </div>

        <div class="row">
            <div class="col-md-4">
                
                <div class="thumbnail">
                    <a href="{:U('Result/show')}">
                  <h3 class="font-center">“那年夏天”</h3>
                  <img src="__IMG__/Index/xkjs2.jpg" alt="...">
                  <div class="indents text-justify info">
                      DV片制作；主要参加人员：龚彪(04教育技术学)、陈洁(05教育技术学)、滕燕(05教育技术学)；指导教师：鲍宗亮、岑岗；成果：作品获2006年省大学生多媒体设计作品大赛一等奖
                  </div></a>
                </div>
                
            </div>

            <div class="col-md-4">
                <div class="thumbnail">
                  <h3 class="font-center">“日货风波”</h3>
                  <img src="__IMG__/Index/xkjs3.jpg" alt="...">
                  <div class="indents text-justify info">
                      DV片制作；主要参加人员：陈茂炜(04教育技术学)、周翔(04教育技术学)、岑益(04教育技术学)；指导老师：林雪芬、覃伟。成果：2007年浙江省大学生多媒体设计竞赛DV组三等奖。
                  </div>
                </div>
            </div>
            
            <div class="col-md-4">
                <div class="thumbnail">
                  <h3 class="font-center">“走进蒋家滨”</h3>
                  <img src="__IMG__/Index/xkjs1.jpg" alt="...">
                  <div class="indents text-justify info">
                      DV片制作；主要参加人员：严立刚(03教育技术学)、邵文飞(03教育技术学)、龚彪(04教育技术学) ；指导教师：杨晓艳、岑岗。成果：2005年省大学生多媒体作品设计竞赛二等奖。
                  </div>
                </div>
            </div>
        </div>
        
        <div class="one">
            <div class="title">成果获取</div>
        </div>

        <div class="row">
            <div class="col-md-4">
                <div class="thumbnail">
                  <h4 class="font-center">“网页设计课程教学的改革尝试”</h4>
                  <img src="__IMG__/Index/cghq3.jpg" alt="...">
                  <div class="indents text-justify info">
                      项城(03教育技术)、孙晓勇、覃伟. 网页设计课程教学的改革尝试. 全国高校计算机基础教育研究会2006年学术年会论文集，清华大学出版社，2006.7.
                  </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="thumbnail">
                  <h4 class="font-center">“开放型项目教学的实践”</h4>
                  <img src="__IMG__/Index/cghq2.jpg" alt="...">
                  <div class="indents text-justify info">
                      岑岗、陈洁(05教育技术).开放型项目教学提高计算机应用能力的实践.全国高校计算机基础教育研究会2008年学术年会论文集，清华大学出版社，2008.7.
                  </div>
                </div>
            </div>
            
            <div class="col-md-4">
                <div class="thumbnail">
                  <h4 class="font-center">“普通话CAI自主学习系统设计”</h4>
                  <img src="__IMG__/Index/cghq1.jpg" alt="...">
                  <div class="indents text-justify info">
                      徐  君(05教育技术)、唐伟、赵佰城(05计算机). 普通话CAI自主学习系统设计.全国高校计算机基础教育研究会2008年学术年会论文集,清华大学出版社,2008.11.
                  </div>
                </div>
            </div>
        </div>

    </div>

</div>

<!-- 尾部 -->
<footer>
    <include file="Public:bottom"/>
</footer>
<!--最后引入各项JS文件-->
<js href="__JQUERY__/jquery.js"/>
<js href="__JQUERY__/bootstrap.js"/>
<js href="__JQUERY__/unslider.js"/>
<js href="__JS__/header.js"/>
<js href="__JS__/Index/index.js"/>
</body>
</html>