<!doctype html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>四部曲</title>
    <!-- 插件css文件 -->
    <css href="__CSS__/bootstrap.min.css"/>
    <css href="__CSS__/bootstrap-theme.min.css"/>
    <css href="__CSS__/common.css"/>
    <css href="__CSS__/header.css"/>
    <css href="__CSS__/bottom.css"/>
    <css href="__CSS__/User/index.css"/>
</head>
<body>
<!-- 导航栏 -->
<header>
    <include file="Public:header"/>
</header> 
<div class="top">
        <img src="__IMG__/User/1.jpg" alt=""/>
</div>
<div class="content">
    
    <div class="head">
        <div class="info"><span class="glyphicon glyphicon-cog" aria-hidden="true"></span></div>
        <img src="__IMG__/head/1.jpg" alt=""/><br/><br/>
        <ul class="list-group">
            <span class="s_color1 a no_1"><li class="list-group-item"><span class="glyphicon glyphicon-blackboard" aria-hidden="true"></span><span class="b">开放实验</span><span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></li></span>
            <span class="s_color2 a no_2"><li class="list-group-item"><span class="glyphicon glyphicon-apple" aria-hidden="true"></span><span class="b">科技创新</span><span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></li></span>
            <span class="s_color2 a"><li class="list-group-item"><span class="glyphicon glyphicon-education" aria-hidden="true"></span><span class="b">学科竞赛</span><span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></li></span>
            <span class="s_color2 a"><li class="list-group-item"><span class="glyphicon glyphicon-grain" aria-hidden="true"></span><span class="b">成果获取</span><span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></li></span>
            <span class="s_color2 a"><li class="list-group-item"><span class="glyphicon glyphicon-user" aria-hidden="true"></span><span class="b">我的伙伴</span><span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></li></span>
            <span class="s_color2 a no_3"><li class="list-group-item"><span class="glyphicon glyphicon-certificate" aria-hidden="true"></span><span class="b">我的导师</span><span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></li></span>
             <span class="s_color2 a no_4"><li class="list-group-item"><span class="glyphicon glyphicon-certificate" aria-hidden="true"></span><span class="b">我的课表</span><span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></li></span>
        </ul>
    </div>
    <div class="main">
      
        <div id="no">
            <div class="no1"><div id="no2_header">
                    <ul>
                    <li class="no2_xmlb">
                        项目类别
                    </li>
                    <li class="no2_xmmc">
                        项目名称
                    </li>
                    <li class="no2_fzr">
                        负责人
                    </li>
                    <li class="no2_zdls">
                        指导老师
                    </li>
                    <li class="no2_cz">
                        操作
                    </li>
                </ul>
                <ul>
                    <li class="no2_xmlb">
                        开放实验
                    </li>
                    <li class="no2_xmmc">
                        office高级应用
                    </li>
                    <li class="no2_fzr">
                        胡晓峰
                    </li>
                    <li class="no2_zdls">
                        岑岗
                    </li>
                    <li class="no2_cz">
                        <button class="btn btn-danger btn-xs" data-toggle="modal" data-target="#">在研</button>
                        <button class="btn btn-success btn-xs" data-toggle="modal" data-target="#"><a class="no2_bj" target="_blank" color="#fff" href="/index.php/Home/FourstepsSecond/edit/id/1.html">编辑</a></button>
                    </li>
                </ul>
                <ul class="pagination">
                                <li>
                                    <select>
                                        <option>1</option>
                                        <option>2</option>
                                        <option>3</option>
                                        <option>4</option>
                                        <option>5</option>
                                        <option>6</option>
                                        <option>7</option>
                                        <option>8</option>
                                        <option>9</option>
                                        <option>10</option>
                                    </select>
                                    页
                                </li>
                                <li class="gray">
                                    共1页
                                </li>
                                <li>
                                    <i class="glyphicon glyphicon-menu-left">
                                        </i>
                                </li>
                                <li>
                                    <i class="glyphicon glyphicon-menu-right">
                                        </i>
                                </li>
                            </ul>
                </div>
            </div>
            <div class="no2">
                <div id="no2_header">
                    <ul>
                    <li class="no2_xmlb">
                        项目类别
                    </li>
                    <li class="no2_xmmc">
                        项目名称
                    </li>
                    <li class="no2_fzr">
                        负责人
                    </li>
                    <li class="no2_zdls">
                        指导老师
                    </li>
                    <li class="no2_cz">
                        操作
                    </li>
                </ul>
                <ul>
                    <li class="no2_xmlb">
                        新苗
                    </li>
                    <li class="no2_xmmc">
                        基于Android的四步曲项目教学平台
                    </li>
                    <li class="no2_fzr">
                        胡晓峰
                    </li>
                    <li class="no2_zdls">
                        岑岗
                    </li>
                    <li class="no2_cz">
                        <button class="btn btn-danger btn-xs" data-toggle="modal" data-target="#">在研</button>
                        <button class="btn btn-success btn-xs" data-toggle="modal" data-target="#"><a class="no2_bj" target="_blank" color="#fff" href="/index.php/Home/FourstepsSecond/edit/id/1.html">编辑</a></button>
                    </li>
                </ul>
                <ul class="pagination">
                                <li>
                                    <select>
                                        <option>1</option>
                                        <option>2</option>
                                        <option>3</option>
                                        <option>4</option>
                                        <option>5</option>
                                        <option>6</option>
                                        <option>7</option>
                                        <option>8</option>
                                        <option>9</option>
                                        <option>10</option>
                                    </select>
                                    页
                                </li>
                                <li class="gray">
                                    共1页
                                </li>
                                <li>
                                    <i class="glyphicon glyphicon-menu-left">
                                        </i>
                                </li>
                                <li>
                                    <i class="glyphicon glyphicon-menu-right">
                                        </i>
                                </li>
                            </ul>
                </div>
            </div>
            <div class="no3">
                <div class="no3_images">
                    <img src="__IMG__/User/B1cg.jpg">
                </div>
                <span class="no3_name">岑岗:</span>
                <div class="no3_information">
                    男，教授，高级工程师（双职称，双师型教师），1959年6月生于杭州，祖籍浙江象山。现任浙江科技学院理学院院长，浙江省高校教学名师、浙江省优秀教师。中国民主同盟盟员，民盟浙江省第十届委员会委员，民盟浙江科技学院支部主任委员。浙江省教育类专业教学指导委员会委员、全国高校计算机基础教育研究会理事、华东高校计算机基础教育研究会理事、浙江省高校计算机教育学会理事、浙江省计算机用户协会理事等。目前主要从事计算机应用、教育技术学学科的教学和研究工作。
                </div>
            </div>
            <div class="no4">

                <table class="table table-hover">
                    <tr>
                      <td>时间</td>
                      <td>课程</td>
                      <td>&nbsp;&nbsp;</td>
                      <td>时间</td>
                      <td>课程</td>
                      <td>&nbsp;&nbsp;&nbsp;</td>
                      <td>时间</td>
                      <td>课程</td>
                    </tr>
                     <tr class="no4_1">
                      <td>5月1日</td>
                      <td>胡晓峰来A2商讨论文</td>
                      <td></td>
                      <td>5月6.7.8.9日</td>
                      <td>艺竹相关人员准备申请软件著作权</td>
                      <td></td>
                      <td>5月11日</td>
                      <td>准备联系申请专利</td>
                    </tr>
                    <tr class="no4_1">
                      <td>5月15.16.17日</td>
                      <td>陈璇准备撰写论文</td>
                      <td></td>
                      <td>5月28日</td>
                      <td>陈璇来A4讨论论文</td>
                      <td></td>
                      <td>5月29日</td>
                      <td>陈璇来A4讨论论文</td>
                    </tr>
                    <tr>
                      <td>&nbsp;&nbsp;</td>
                      <td>&nbsp;&nbsp;</td>
                      <td></td>
                      <td>&nbsp;&nbsp;</td>
                      <td>&nbsp;&nbsp;</td>
                      <td></td>
                      <td>&nbsp;&nbsp;</td>
                      <td>&nbsp;&nbsp;</td>
                    </tr>
                    <tr class="no4_1">
                      <td>&nbsp;&nbsp;</td>
                      <td>&nbsp;&nbsp;</td>
                      <td></td>
                      <td>&nbsp;&nbsp;</td>
                      <td>&nbsp;&nbsp;</td>
                      <td></td>
                      <td>&nbsp;&nbsp;</td>
                      <td>&nbsp;&nbsp;</td>
                    </tr>
                    <tr class="no4_1">
                      <td>&nbsp;&nbsp;</td>
                      <td>&nbsp;&nbsp;</td>
                      <td></td>
                      <td>&nbsp;&nbsp;</td>
                      <td>&nbsp;&nbsp;</td>
                      <td></td>
                      <td>&nbsp;&nbsp;</td>
                      <td>&nbsp;&nbsp;</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>
<div id="withe">
</div>

<footer>
    <include file="Public:bottom"/>
</footer>
<!--最后引入各项JS文件-->
<js href="__JQUERY__/jquery.js"/>
<js href="__JQUERY__/bootstrap.js"/>
<js href="__JS__/header.js"/>
<js href="__JS__/User/index.js"/>
</body>
<script type="text/javascript">
$(function(){
    var a=$(".list-group-item");
    a.each(function(){
        $(this).bind("click",function(){
            $("#withe").css({
                top:$(this).offset().top+2+"px"
            });
        });
        var color=$(".a");
        color.each(function(){
            $(this).bind("click",function(){
                    var red=$(".s_color1");
            red.addClass(".s_color2");
            $(".s_color2").removeClass(".s_color1");
            $(this).addClass(".s_color1");
            $(this).removeClass("s_color2");

            })
        
        })
    });
    $(".no_2").bind("click",function(){
        $(".no1").hide();
        $(".no3").hide();
        $(".no4").hide();
        $(".no2").show();

    })
        $(".no_3").bind("click",function(){
        $(".no1").hide();
        $(".no2").hide();
        $(".no4").hide();
        $(".no3").show();
    })
        $(".no_1").bind("click",function(){
        $(".no3").hide();
        $(".no2").hide();
        $(".no4").hide();
        $(".no1").show();
    })
        $(".no_4").bind("click",function(){
        $(".no3").hide();
        $(".no2").hide();
        $(".no1").hide();
        $(".no4").show();
    })
});
$(function(){
            var s=$(".b");
        s.each(function(){
            $(this).bind("click",function(){
                s.css({"color":"#787d82"})
                $(this).css({"color":"red"})
            })
        })
})
</script>
</html>